<main role="main" class="container">
	<div class="my-3 p-3 bg-white rounded box-shadow">
		<h5 class="border-bottom border-gray pb-2 mb-0">Agrega un comentario</h5>
		<br>
		<%= form_for([@post, @post.comments.build]) do |f| %>
			<%= f.label :nombre, "Palabra clave" %><br>
			<%= f.text_field :nombre , class: "form-control"%><br>
			<br>
			<%= f.label :comentario %><br>
			<%= f.text_area :comentario , class: "form-control"%><br>
			<br>
			<%= f.submit "Comenta" , class: "btn btn-primary"%>
		<% end %>
	</div>
</main>