<%= render 'procesos/nav' %>


<h1>Comentarios</h1>

<table>
  <thead>
    <tr>
      <th style="display:none" >Idusuario</th>
      <th>Descripcion</th>
      <th >Fecha</th>
      <th colspan="3" style="display:none"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr >
        <td style="display:none"><%= comentario.idUsuario %></td>
        <td class="col-md-10">
            <div class="card border-dark mb-3">
          <div class="card-body text-dark" style="background: #e3faf4;">
      <!--p class="card-text">Luis committed on 28 an 2018</p>-->
      <h5 class="card-title">    <%= comentario.descripcion %> </h5></td>
        <td><%= comentario.fecha %></td>
        <td style="display:none"><%= link_to 'Show', comentario %></td>
        <td style="display:none"><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
        <td style="display:none"><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario', new_comentario_path %>
