
<%= form_with(model: proceso, local: true) do |form| %>
  <% if proceso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proceso.errors.count, "error") %> prohibited this proceso from being saved:</h2>

      <ul>
      <% proceso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :proceso_nombre, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :commits %>
    <%= form.text_field :commits, id: :proceso_commits, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select(:status, ['-Seleccionar-','Iniciado','En Elaboracion','Solicitud de Aprobacion'], {}, { :class => 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= form.label :contribuidores %>
    <%= form.text_field :contribuidores, id: :proceso_contribuidores, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :version %>
    <%= form.select(:version, ['-','v1.0','v1.1','v1.2','v1.3','v1.4','v1.5','v1.6','v1.7','v1.8','v1.9','v1.10'], {}, { :class => 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
  
<% end %>

<div> 
<%= render 'procesos/flujo'%>
<br> 
</div> 