<%= render 'procesos/nav' %>



<p id="notice" class="alert alert-success alert-dismissable" role="alert">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
   <%= notice %>
</p>

<h1>Procesos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Commits</th>
      <th>Status</th>
      <th>Contribuidores</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procesos.each do |proceso| %>
      <tr>
        <td><%= proceso.nombre %></td>
        <td><%= proceso.commits %></td>
        <td><%= proceso.status %></td>
        <td><%= proceso.contribuidores %></td>
        <td><%= proceso.version %></td>
        <td><%= link_to 'Show', proceso, class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_proceso_path(proceso), class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Destroy', proceso, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proceso', new_proceso_path, class: "btn btn-primary" %>

