<%= render 'procesos/nav' %>
<br>
<main role="main" class="container">
	<div class="my-3 p-3 bg-white rounded box-shadow">
		<br>
		<div class="container">
  			<div class="row">
			    <div class="col-md-10"><h2><i class="far fa-comments"></i> Comentarios [<%=Post.count%>]</h2></div>
			    <div class="col-md-1"><% if user_signed_in? %><%= link_to "Nuevo Post", new_post_path, class: "btn btn-primary" %><% end %></div>      
  			</div>
		</div>
		
		<br><br> 
		<div id="comments">
		<% @posts.each do |post| %>
			<div class="row">
			<div class="col-11">
				<h4><%= link_to post.titulo, post %></h4>
				<span class="badge badge-secondary"><%= post.created_at.strftime("%B %d, %Y")%> por <%= post.user.email%></span>	
			</div>
			<div class="col-1">
				<a class="imagen_post"><%= image_tag(post.user.avatar.url(:thumb), class: "rounded-circle",height: '40', width: '40') %></a> 
			</div>
			</div>
			<br>
			<hr>
		<% end %>
		 
		</div>
	</div> 
</main> 
