<%= render 'procesos/nav' %>

<main role="main" class="container">
	<div class="my-3 p-3 bg-white rounded box-shadow">
	
	<div class="container">	
		<h4 class="border-bottom border-gray pb-2 mb-0">Caso <%= @post.id %>. <%= @post.titulo %></h4>
		<p class="date">
			<i class="far fa-clock"></i> Subido hace <%= time_ago_in_words(@post.created_at) %>
		</p>
		<p class="body"><%= @post.descripcion %></p>
	</div>
	
	<div class="container">
		<h4 class="border-bottom border-gray pb-2 mb-0"><%= @post.comments.count %> Comentarios</h4>
		<br>
		<%= render @post.comments %>
	</div>
	<%= render "comments/form" %>
</div>
</main>
