<ul class="nav nav-pills nav-justified" style="background-color: #e3f2fd">
    <li class="nav-item">
        <a><%= link_to "Diagramas de flujo", procesos_path, class: "p-2 text-muted" %></a>    
    </li>
    <li class="nav-item">
        <a><%= link_to "Comentarios", menu_comentarios_path, class: "p-2 text-muted" %></a>
    </li>
    <li class="nav-item">
        <a><%= link_to "Cambios aprobados", menu_cambios_aprobados_path, class: "p-2 text-muted" %></a>    
    </li>
    <li class="nav-item">
        <a><%= link_to "Estadisticas", menu_estadisticas_path, class: "p-2 text-muted" %></a>   
    </li>
    <li class="nav-item">
        <a><%= link_to "Contribuidores", menu_contribuidores_path, class: "p-2 text-muted" %></a>    
    </li>
</ul>


